body{
    background-image: url("https://w0.peakpx.com/wallpaper/677/889/HD-wallpaper-black-stylish-background-green-neon-lines-green-light-effects-abstract-black-background.jpg");
    background-size:cover ;
    background-attachment:fixed ;
    background-repeat: no-repeat;
}
h1{
    color:rgba(70, 148, 58, 0.997);
}
h2{color:rgb(212, 215, 16);}
footer{
    background-color:rgba(191, 241, 204, 0.959);  
}
h3{
    color: rgba(206, 219, 178, 0.965);
}
div{
    width:300px;
    height: 140px;
    background-color: rgba(155, 238, 119, 0.926);
    transform: translate(1270px);
}
